In [1]:
from typing import Type

x = 1
x = x + 1
print(x)

if x > 10:
    print("x bigger than 10")
elif x > 2:
    print("x is bigger than 2")
else:
    print("Tiny")

2
Tiny

In [2]:
print(type("abc"))              #<class 'str'>
print(type(2.2))                #<class 'float'>
print(type(2))                  #<class 'int'>
print(type(True))               #<class 'bool'>
print(type(["a", "b", "c"]))    #<class 'list'>

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'list'>

In [3]:
try:
    num = float(input("Enter a number: "))
    print(num, " is a number")
except:
    print("Not a number")

Not a number

In [4]:
def Hi():
    return "Hello World"

print(Hi())

Hello World

In [5]:
while True:
    line = input("Write: ")
    if line == "#":
        continue
    if line == "":
        break
    print(line)

In [6]:
max = 0
for i in [1, 5, 4, 10, 7]:
    if i > max:
        max = i
print(max)

10

In [7]:
a = ["32 + 698", "3801 - 2", "45 + 43", "123 + 49"]

for i in a:
    print(" ",i.split()[0],"\n")

  32

  3801

  45

  123

In [8]:
fruit = "banana"
print(fruit[0])
print(len(fruit))
for i in fruit:
    print(i)

b
6
b
a
n
a
n
a

In [9]:
s = "Monty Python"
print(s[1:2])
print(s[0:].lower())

o
monty python

In [10]:
dir("abc")
dir(2.2)
dir(2)
dir(True)
dir(["a", "b", "c"])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
print("Hello\nWorld")

Hello
World

In [1]:
try:
    file = open("python.py")
    count = 0
    for line in file:
        count = count + 1
    print("Line Count:", count)
    print("Character Count:", len(file.read()))
except:
    print("Could not open file")
    quit()

Could not open file

In [1]:
friends = ["Faris", "Bob", "Bill"]

for friend in friends:
    print("Happy New Year:", friend)

print(range(len(friends)))

for i in range(len(friends)):
    friend = friends[i]
    print("Happy New Year:", friend)

Happy New Year: Faris
Happy New Year: Bob
Happy New Year: Bill
range(0, 3)
Happy New Year: Faris
Happy New Year: Bob
Happy New Year: Bill

In [2]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)
print(a[:2])

[1, 2, 3, 4, 5, 6]
[1, 2]

In [3]:
L = [10, 45, 78]
L.append(25)
print(L)
average = sum(L)/len(L)
print("Average:", average)

[10, 45, 78, 25]
Average: 39.5

In [4]:
abc = "With three words"
print(abc.split())
print(len(abc.split()))
print(abc.split()[0])

['With', 'three', 'words']
3
With

In [5]:
print("hi")

hi

In [6]:
A = ['ccc', 'aaaa', 'd', 'bb']
print(sorted(A))
print(sorted(A, key=len))

['aaaa', 'bb', 'ccc', 'd']
['d', 'bb', 'ccc', 'aaaa']

In [7]:
try:
    file = open("test.txt")
    print(file.read().split()[0])
except:
    print('Could not open file')

Could not open file

In [8]:
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/romeo.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')
mysock.close()

HTTP/1.1 200 OK
Date: Tue, 07 Jun 2022 13:00:39 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "a7-54f6609245537"
Accept-Ranges: bytes
Content-Length: 167
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

In [12]:
print(ord('\n'))

10

In [13]:
import urllib.request
fhand = urllib.request.urlopen('http://data.pr4e.org/romeo.txt')
for line in fhand:
    print(line.decode().strip())

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

SQL

Python for Everybody Database Handout

https://www.py4e.com/lectures3/Pythonlearn-15-Database-Handout.txt

Download and Install: http://sqlitebrowser.org/

Single Table SQL

CREATE TABLE "Users" ("name" TEXT, "email" TEXT)

INSERT INTO Users (name, email) VALUES ('Chuck', 'csev@umich.edu')
INSERT INTO Users (name, email) VALUES ('Colleen', 'cvl@umich.edu')
INSERT INTO Users (name, email) VALUES ('Ted', 'ted@umich.edu')
INSERT INTO Users (name, email) VALUES ('Sally', 'a1@umich.edu')
INSERT INTO Users (name, email) VALUES ('Ted', 'ted@umich.edu')
INSERT INTO Users (name, email) VALUES ('Kristen', 'kf@umich.edu')

DELETE FROM Users WHERE email='ted@umich.edu'

UPDATE Users SET name="Charles" WHERE email='csev@umich.edu'

SELECT * FROM Users

SELECT * FROM Users WHERE email='csev@umich.edu'

SELECT * FROM Users ORDER BY email

SELECT * FROM Users ORDER BY name DESC

Multi-Table SQL:

CREATE TABLE "Artist" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    "name" TEXT)

CREATE TABLE "Album" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    artist_id INTEGER,
    "title" TEXT)

CREATE TABLE "Genre" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    "name" TEXT)

CREATE TABLE "Track" (
    "id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE, 
    album_id INTEGER, genre_id INTEGER, len INTEGER, rating INTEGER, 
    "title" TEXT, "count" INTEGER)

INSERT INTO Artist (name) VALUES ('Led Zepplin')
INSERT INTO Artist (name) VALUES ('AC/DC')

INSERT INTO Genre (name) VALUES ('Rock') ;
INSERT INTO Genre (name) VALUES ('Metal');

INSERT INTO Album (title, artist_id) VALUES ('Who Made Who', 2);
INSERT INTO Album (title, artist_id) VALUES ('IV', 1);

INSERT INTO Track (title, rating, len, count, album_id, genre_id) 
    VALUES ('Black Dog', 5, 297, 0, 2, 1) ;
INSERT INTO Track (title, rating, len, count, album_id, genre_id) 
    VALUES ('Stairway', 5, 482, 0, 2, 1) ;
INSERT INTO Track (title, rating, len, count, album_id, genre_id) 
    VALUES ('About to Rock', 5, 313, 0, 1, 2) ;
INSERT INTO Track (title, rating, len, count, album_id, genre_id) 
    VALUES ('Who Made Who', 5, 207, 0, 1, 2) ;

SELECT Album.title, Artist.name FROM Album JOIN Artist 
    ON Album.artist_id = Artist.id

SELECT Album.title, Album.artist_id, Artist.id, Artist.name 
    FROM Album JOIN Artist ON Album.artist_id = Artist.id

SELECT Track.title, Track.genre_id, Genre.id, Genre.name 
    FROM Track JOIN Genre   

SELECT Track.title, Genre.name FROM Track JOIN Genre 
    ON Track.genre_id = Genre.id

SELECT Track.title, Artist.name, Album.title, Genre.name 
FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.id AND Track.album_id = Album.id 
    AND Album.artist_id = Artist.id
 

Many-Many Relationship

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE,
    email  TEXT
) ;

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
) ;

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
	role        INTEGER,
    PRIMARY KEY (user_id, course_id)
) ;

INSERT INTO User (name, email) VALUES ('Jane', 'jane@tsugi.org');
INSERT INTO User (name, email) VALUES ('Ed', 'ed@tsugi.org');
INSERT INTO User (name, email) VALUES ('Sue', 'sue@tsugi.org');

INSERT INTO Course (title) VALUES ('Python');
INSERT INTO Course (title) VALUES ('SQL');
INSERT INTO Course (title) VALUES ('PHP');

INSERT INTO Member (user_id, course_id, role) VALUES (1, 1, 1);
INSERT INTO Member (user_id, course_id, role) VALUES (2, 1, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 1, 0);

INSERT INTO Member (user_id, course_id, role) VALUES (1, 2, 0);
INSERT INTO Member (user_id, course_id, role) VALUES (2, 2, 1);

INSERT INTO Member (user_id, course_id, role) VALUES (2, 3, 1);
INSERT INTO Member (user_id, course_id, role) VALUES (3, 3, 0);

SELECT User.name, Member.role, Course.title
  FROM User JOIN Member JOIN Course
  ON Member.user_id = User.id AND Member.course_id = Course.id
  ORDER BY Course.title, Member.role DESC, User.name